SHOPIFY_API_KEY=97e19199c884c275aa234720c5ce8838
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://your-deployed-app.example.com
SHOPIFY_AUTH_CALLBACK_URL=https://your-deployed-app.example.com/auth/callback
SCOPES=read_orders,read_products,write_app_proxy
DATABASE_URL=postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
