SHOPIFY_API_KEY=97e19199c884c275aa234720c5ce8838
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://your-deployed-app.example.com
SCOPES=write_app_proxy
SHOPIFY_SHOP_DOMAIN=dwarven-forge.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
